


.login{
    width: 100%;
    height: 100%;
    display: flex;
    
    .loginLeft{
        flex:1;
        flex-direction: column;
        position: relative;

        .union{
            position: absolute;
            top:107.67px;
            left:97px;
            width:24.75px;
            height: 25px;
        }

        .lendsqr{
            position: absolute;
            top:106px;
            left:132.33px;
            width: 138.44px;
            height: 36px;
        }

        .pablo{
            position: absolute;
            width: 600px;
            height: 337.57px;
            top: 281px;
            left: 67px;
        }
    }

    .loginRight{
        flex:1;
        position: relative;

        .welcomeTxt{
            font-weight: 700;
            font-size: 40px;
            position: absolute;
            right: 421px;
            top: 220px;
            color:#213F7D;
        }
        .smallTxt{
            position: absolute;
            top: 280px;
            right: 410px;
            width: 194px;
            height: 28px;
        }

        .email{
            position: absolute;
            width: 447px;
            height: 50px;
            top: 373px;
            right: 157px;
            border:2px solid rgba(84,95,125,0.15);
            border-radius: 5px;
            padding-left: 16px;

            &::placeholder{
                font-size: 14px;
                color:#545F7D;
                font-weight: 400;
            }
            &:focus{
                outline: 2px solid #39CDCC;
            }


        }

        .inputHolder{
            position: absolute;
            width: 447px;
            height: 50px;
            top: 447px;
            right:157px ;
            border:2px solid rgba(84,95,125,0.15);
            border-radius: 5px;
            padding-left:16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:focus{
                outline: 2px solid #39CDCC;
            }

            .password{
                width: 378px;
                height: 100%;
               
                border: none;
                font-size: 14px;
    
                &::placeholder{
                    font-size: 14px;
                    color:#545F7D;
                    font-weight: 400;
                }
                &:focus{
                    outline: none;
                }
            }

            .show{
                width: 69.05px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0.1em;
                color: #39CDCC;
                cursor: pointer;
            }
    

        }

        
        .forgot{
            position: absolute;
            top: 521px;
            right:457px;
            color:#39CDCC;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 0.1em;
            width: 147px;
            height: 17px;

            &:hover{
                text-decoration: underline;
            }

        }

        .loginBtn{
            position: absolute;
            top:568px;
            right:157px;
            width: 447px;
            height: 48px;
            border-radius: 8px;
            background: #39CDCC;
            color: white;
            font-size: 14px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        }
    }
