html, body {
    font-family: 'Avenir Next';
    font-size: 14px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 54.6px;
    letter-spacing: -2px;
    color: #213F7D;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, p {
    margin: 0 0 0.3em;
}

.subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    color: #545F7D;
}