.usersTable{
    width: 100%;
    height:640px;
    margin: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    
}


.headerCell{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.headerCell > span{
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #545F7D;
}

.status{
    border-radius:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:80px;
    height:30px;
    font-size:14px;
}

.active{
    background-color: #F3FCF6;
    color:#39CD62;
}

.inactive{
    background-color: #F5F5FF;
    color: #5E6884;
}

.pending{
    background-color: #FDF7E5;
    color:#ECBB1D
}

.blacklist{
    background-color: #FCE6EB;
    color:#EA3C67
}

.moreOptions{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.moreOptions:hover > .menuOptions{
    display:flex;
}


.menuOptions{
    z-index: 888;
    width: 180px;
    height: 130px;
    display: none;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    position:absolute;
    right: 10px; 
    background: #FFFFFF;
    border: 1px solid rgba(84, 95, 125, 0.04);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.option{
    font-size: 14px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #545F7D;
    
}

.optionIcon{
    margin-right: 10px;
}

