.usersTable{
    width: 100%;
    margin-top: 40px;
}

.status{
    border-radius:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:80px;
    height:30px;
    font-size:14px;
}

.active{
    background-color: #F3FCF6;
    color:#39CD62;
}

.inactive{
    background-color: #F5F5FF;
    color: #5E6884;
}

.pending{
    background-color: #FDF7E5;
    color:#ECBB1D
}

.blacklist{
    background-color: #FCE6EB;
    color:#EA3C67
}


.more:active ~ .menuOptions{
    display: flex;
}


.menuOptions{
    z-index: 888;
    width: 180px;
    height: 130px;
    display: none;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    border:1px solid black;
    position:absolute;
    background-color: white;
    right: 50px; 
}

.options{
    font-size: 14px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
