.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    background: #FFFFFF;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 999;
    

    .navLeft{
        width: 174.81px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .union{
            width: 20.62px;
            height: 20.84px;
            margin-left: 30px;
        }

        .lendsqr{
            width: 115.37px;
            height: 30px;
            margin-left: 8.81px;
        }
    }


    .navSearch{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 400px;
        height: 40px;
        margin-left: 118.2px;
        border: 1px solid #213F7D;
        background: #FFFFFF;
        opacity: 0.2;
        border-radius: 8px;
        z-index: 999;


        .searchBar{
            width: 394px;
            height: 100%;
            border: none;
            border-radius: 8px;
            padding-left: 20px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;

            &:focus{
                outline: none;
            }
        }

        .searchIconContainer{
            width: 56px;
            height: 100%;
            background: #39CDCC;
            align-items: center;
            justify-content: center;
            display: flex;
            color:#FFFFFF;
            cursor: pointer;

            svg{
                
                color: white;
            }
        }
    }

    .navRight{
        margin-left: 357px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .docs{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;


text-decoration-line: underline;

color: #213F7D;

        }


        .notIcon{
            margin-left: 50.16px;
            color:#213F7D;
        }

        .userArea{
            margin-left: 33.16px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .avatar{
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

            .userName{
                margin-left: 10px;
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #213F7D;

                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }


    }
}